<a href="https://colab.research.google.com/github/GabrielRozendoPontes/Unoeste/blob/main/datascience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
x <- c(10,20,55,9,19)
print(x)

[1] 10 20 55  9 19

In [6]:
x[2:5]

[1] 20 55  9 19

In [8]:
max(x)

[1] 55

In [9]:
x^2

[1]  100  400 3025   81  361

In [10]:
which.max(x)

[1] 3

In [11]:
dados <- read.csv("filmes.csv")

In [13]:
dados

   Titulo                             Producao Classificacao Gasto   Renda
1  Aliens                             1986     R              18.500  81.843
2  Armageddon                         1998     PG-13         140.000 194.125
3  As Good As It Gets                 1997     PG-13          50.000 147.540
4  Braveheart                         1995     R              72.000  75.600
5  Chasing Amy                        1997     R               0.250  12.006
6  Contact                            1997     PG             90.000 100.853
7  Dante's Peak                       1997     PG-13         104.000  67.155
8  Deep Impact                        1998     PG-13          75.000 140.424
9  Executive Decision                 1996     R              55.000  68.750
10 Forrest Gump                       1994     PG-13          55.000 329.691
11 Ghost                              1990     PG-13          22.000 217.631
12 Gone with the Wind                 1939     G               3.900 198.571
13 Good Will Hunting                  1997     R              10.000 138.339
14 Grease                             1978     PG              6.000 181.280
15 Halloween                          1978     R               0.325  47.000
16 Hard Rain                          1998     R              70.000  19.819
17 I Know What You Did Last Summer    1997     R              17.000  72.219
18 Independence Day                   1996     PG-13          75.000 306.124
19 Indiana Jones and the Last Crusade 1989     PG-13          39.000 197.171
20 Jaws                               1975     PG             12.000 260.000
21 Men in Black                       1997     PG-13          90.000 250.147
22 Multiplicity                       1996     PG-13          45.000  20.100
23 Pulp Fiction                       1994     R               8.000 107.930
24 Raiders of the Lost Ark            1981     PG             20.000 242.374
25 Saving Private ryan                1998     R              70.000 178.091
26 Schindler's List                   1993     R              25.000  96.067
27 Scream                             1996     R              15.000 103.001
28 Speed 2:Cruise Control             1997     PG-13         110.000  48.068
29 Terminator                         1984     R               6.400  36.900
30 The American President             1995     PG-13          62.000  65.000
31 The Fifth Element                  1997     PG-13          90.000  63.540
32 The Game                           1997     R              50.000  48.265
33 The Man in the Iron Mask           1998     PG-13          35.000  56.876
34 Titanic                            1997     PG-13         200.000 600.743
35 True Lies                          1994     R             100.000 146.261
36 Volcano                            1997     PG-13          90.000  47.474
   Duracao TaxaEspectadores
1  137     8.2
2  144     6.7
3  138     8.1
4  177     8.3
5  105     7.9
6  153     8.3
7  112     6.7
8  120     6.4
9  129     7.3
10 142     7.7
11 128     7.1
12 222     8.0
13 126     8.5
14 110     7.3
15  93     7.7
16  95     5.2
17 100     6.5
18 142     6.6
19 127     7.8
20 124     7.8
21  98     7.4
22 117     6.8
23 154     8.3
24 115     8.3
25 170     9.1
26 197     8.6
27 111     7.7
28 121     4.3
29 108     7.7
30 114     7.6
31 126     7.8
32 128     7.6
33 132     6.5
34 195     8.4
35 144     7.2
36 102     5.8

In [14]:
dados$Renda

 [1]  81.843 194.125 147.540  75.600  12.006 100.853  67.155 140.424  68.750
[10] 329.691 217.631 198.571 138.339 181.280  47.000  19.819  72.219 306.124
[19] 197.171 260.000 250.147  20.100 107.930 242.374 178.091  96.067 103.001
[28]  48.068  36.900  65.000  63.540  48.265  56.876 600.743 146.261  47.474

In [15]:
Lucro <- dados$Renda - dados$Gasto

In [16]:
head(Lucro)

[1] 63.343 54.125 97.540  3.600 11.756 10.853

In [17]:
dadosLucro <- cbind(dados, Lucro)

In [18]:
dadosLucro

   Titulo                             Producao Classificacao Gasto   Renda
1  Aliens                             1986     R              18.500  81.843
2  Armageddon                         1998     PG-13         140.000 194.125
3  As Good As It Gets                 1997     PG-13          50.000 147.540
4  Braveheart                         1995     R              72.000  75.600
5  Chasing Amy                        1997     R               0.250  12.006
6  Contact                            1997     PG             90.000 100.853
7  Dante's Peak                       1997     PG-13         104.000  67.155
8  Deep Impact                        1998     PG-13          75.000 140.424
9  Executive Decision                 1996     R              55.000  68.750
10 Forrest Gump                       1994     PG-13          55.000 329.691
11 Ghost                              1990     PG-13          22.000 217.631
12 Gone with the Wind                 1939     G               3.900 198.571
13 Good Will Hunting                  1997     R              10.000 138.339
14 Grease                             1978     PG              6.000 181.280
15 Halloween                          1978     R               0.325  47.000
16 Hard Rain                          1998     R              70.000  19.819
17 I Know What You Did Last Summer    1997     R              17.000  72.219
18 Independence Day                   1996     PG-13          75.000 306.124
19 Indiana Jones and the Last Crusade 1989     PG-13          39.000 197.171
20 Jaws                               1975     PG             12.000 260.000
21 Men in Black                       1997     PG-13          90.000 250.147
22 Multiplicity                       1996     PG-13          45.000  20.100
23 Pulp Fiction                       1994     R               8.000 107.930
24 Raiders of the Lost Ark            1981     PG             20.000 242.374
25 Saving Private ryan                1998     R              70.000 178.091
26 Schindler's List                   1993     R              25.000  96.067
27 Scream                             1996     R              15.000 103.001
28 Speed 2:Cruise Control             1997     PG-13         110.000  48.068
29 Terminator                         1984     R               6.400  36.900
30 The American President             1995     PG-13          62.000  65.000
31 The Fifth Element                  1997     PG-13          90.000  63.540
32 The Game                           1997     R              50.000  48.265
33 The Man in the Iron Mask           1998     PG-13          35.000  56.876
34 Titanic                            1997     PG-13         200.000 600.743
35 True Lies                          1994     R             100.000 146.261
36 Volcano                            1997     PG-13          90.000  47.474
   Duracao TaxaEspectadores Lucro
1  137     8.2               63.343
2  144     6.7               54.125
3  138     8.1               97.540
4  177     8.3                3.600
5  105     7.9               11.756
6  153     8.3               10.853
7  112     6.7              -36.845
8  120     6.4               65.424
9  129     7.3               13.750
10 142     7.7              274.691
11 128     7.1              195.631
12 222     8.0              194.671
13 126     8.5              128.339
14 110     7.3              175.280
15  93     7.7               46.675
16  95     5.2              -50.181
17 100     6.5               55.219
18 142     6.6              231.124
19 127     7.8              158.171
20 124     7.8              248.000
21  98     7.4              160.147
22 117     6.8              -24.900
23 154     8.3               99.930
24 115     8.3              222.374
25 170     9.1              108.091
26 197     8.6               71.067
27 111     7.7               88.001
28 121     4.3              -61.932
29 108     7.7               30.500
30 114     7.6                3.000
31 126     7.8              -26.460
32 128     7.6               -1.735
33 132     6.5               21.876
34 195     8.4              400.743
35 144     7.2               46.261
36 102     5.8              -42.526

In [19]:
pos <- which.max(dadosLucro$Lucro)

In [20]:
pos

[1] 34

In [21]:
dadosLucro[pos, ]

   Titulo  Producao Classificacao Gasto Renda   Duracao TaxaEspectadores
34 Titanic 1997     PG-13         200   600.743 195     8.4
   Lucro
34 400.743

In [22]:
min <- which.min(dadosLucro$Lucro)

In [23]:
dadosLucro[min, ]

   Titulo                 Producao Classificacao Gasto Renda  Duracao
28 Speed 2:Cruise Control 1997     PG-13         110   48.068 121
   TaxaEspectadores Lucro
28 4.3              -61.932

In [24]:
mean(dados$Duracao)

[1] 132.1111

In [ ]:
library(dplyr)

In [29]:
qtdAno <- dados %>% select(Titulo, Producao) %>% group_by(Producao) %>% count()

In [30]:
print(qtdAno)

# A tibble: 14 Ã— 2
# Groups:   Producao [14]
   Producao     n
      <int> <int>
 1     1939     1
 2     1975     1
 3     1978     2
 4     1981     1
 5     1984     1
 6     1986     1
 7     1989     1
 8     1990     1
 9     1993     1
10     1994     3
11     1995     2
12     1996     4
13     1997    12
14     1998     5

In [32]:
qtdAno %>% filter(n == max(qtdAno$n))

  Producao n
1 1997     12

In [41]:
qtdAno %>% filter(Producao %in% c(1997, 1998, 1989)) %>% arrange(n)

  Producao n
1 1989      1
2 1998      5
3 1997     12

In [44]:
#comentÃ¡rio
var <- qtdAno %>% filter(Producao == 1997 | Producao == 1998 | Producao == 1989)

In [45]:
var[c(2,3,1), ]

  Producao n
1 1997     12
2 1998      5
3 1989      1

In [42]:
qtdAno %>% arrange(desc(n), Producao)

   Producao n
1  1997     12
2  1998      5
3  1996      4
4  1994      3
5  1978      2
6  1995      2
7  1939      1
8  1975      1
9  1981      1
10 1984      1
11 1986      1
12 1989      1
13 1990      1
14 1993      1